.background {
    background-color:rgba(0, 0, 0, 0.8);
    background-image:url(images/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  
}

.heading {
    color: white;
    padding: 250px;
}
.heading h1 {
font-size: 82px;
font-weight: bold;
}

.heading h2 {
    font-size: 82px;
    font-weight: bold;
    padding: 20px;
    }
.heading p {
    font-size: 32px;
    font-weight: bold;
    padding: 30px;
}