.background {
    background-color:rgba(0, 0, 0, 0.8);
    background-image:url(images/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  
}

.heading {
    color: white;
    padding: 150px;
}
heading h1